<div id= "pic">
<%= image_tag("paircode_logo_2_for_light_bg.png")%>
</div>
<div id = "login">
	<h1>Returning Users</h1>
	<form action = '/session/create' method = 'post'>
		<input name= "authenticity_token" value = "<% form_authenticity_token %>" type = "hidden">
		<p>Email:<input type = "text" name = "email"><br></p>
		<p>Password:<input type = "text" name = "password"><br></p>
		<p><input type = "submit" value = "Login"></p>
	</form>
<div>

	<%= flash[:errors] %>
<br>
<br>
<br>
<br>
<br>


<a href = '/new'>New User</a>



