<div id= "pic">
	<%= image_tag("paircode_logo_2_for_light_bg.png")%>
</div>

<form role='form' action = '/user/create' method = 'post'>
	<div id = "left" class="col-lg-3">
		<input name= "authenticity_token" value = "<% form_authenticity_token %>" type = "hidden">
		<div class="form-group">
	 		<label for="name">Name:</label>
		    <input type="text" class="form-control" id="name" name="user[name]">
		</div>
		<div class="form-group">
	 		<label for="alias">Alias:</label>
		    <input type="text" class="form-control" id="alias" name="user[alias]">
		</div>
		<div class="form-group">
	 		<label for="name">Email:</label>
		    <input type="text" class="form-control" id="email" name="user[email]">
		</div>
		<% if flash[:error] %>
			<% flash[:error].each do |value| %>
				<%= value %><br>
			<% end %>
		<% end %>
	</div>
	<div id ="middle" class="col-lg-3">
		<div class="form-group">
	 		<label for="name">Street:</label>
		    <input type="text" class="form-control" id="street" name="user[street]">
		</div>
		<div class="form-group">
	 		<label for="name">City:</label>
		    <input type="text" class="form-control" id="city" name="user[city]">
		</div>
		<div class="form-group">
	 		<label for="name">State:</label>
		    <input type="text" class="form-control" id="state" name="user[state]">
		</div>
		<div class="form-group">
	 		<label for="name">Password:</label>
		    <input type="password" class="form-control" id="password" name="user[password]">
		</div>
		<div class="form-group">
	 		<label for="name">Password Confirmation:</label>
		    <input type="password" class="form-control" id="password_confirmation" name="user[password_confirmation]">
		</div>
		<input type = "hidden" name = "user[latitude]" >
		<input type = "hidden" name = "user[longitude]" >
	</div>
	<div id = "right" class="col-lg-3">
		<h4>Languages I'm Learning</h4>
		<ul>
		<% @languages.each do | x | %>
			<li><input type = "checkbox" name="language[]" value="<%= x.id %>" ><%= x.lang_name %></li>
		<% end %>
		</ul>
		<input type = "submit" value = "Register" class="butts">
	</div>
</form>
