<div id= "pic">
<%= image_tag("paircode_logo_2_for_light_bg.png")%>
</div>

<h1>New Users</h1>


<form action = '/user/create' method = 'post'>
	<div id = "left">
	<input name= "authenticity_token" value = "<% form_authenticity_token %>" type = "hidden">
	<p>Name:<input type = "text" name = "user[name]"></p>
	<p>Alias:<input type = "text" name = "user[alias]"></p>
	<p>Email:<input type = "text" name = "user[email]"></p>
	<p>Street:<input type = "text" name = "user[street]"></p>
	<p>City:<input type = "text" name = "user[city]"></p>
	<p>State:<input type = "text" name = "user[state]"></p>
	<p><input type = "hidden" name = "user[latitude]" ></p>
	<p><input type = "hidden" name = "user[longitude]" ></p>
	<p>Password:<input type = "text" name = "user[password]"></p>
	<p>Password Confirmation:<input type = "text" name = "user[password_confirmation]"></p>

</div>
<div id = "right">
	<p>Languages I'm Learning</p>
	<% @languages.each do | x | %>
		<p><input type = "checkbox" name="language[]" value="<%= x.id %>" ><%= x.lang_name %></p>
	<% end %>
	<p><input type = "submit" value = "Register" class="butts">
</div>
</form>
<% if flash[:error] %>
	<% flash[:error].each do |value| %>
		 <%= value %><br>
	<% end %>
<% end %>